#fighter_screen { width: 100vw; height: calc(100vh * 5); position: fixed; transition: opacity 250ms, bottom 6000ms; background:white; }

#fighter_screen div.portrait { display: block; width: 20vw; height: 60vh; position: absolute; top:17.5vh; transition: background-position 500ms}
#fighter_screen div.portrait .picture { display: block; width: 100%; height: 100%; background-size: contain; background-position: center 60%; background-repeat: no-repeat; position: absolute; top:0px; transition: all 500ms}
#fighter_screen div.portrait .frame { height:100%; width:100%; background-image: url(../media/flow/fighter_screen/frame.png); background-size: contain; background-position: center; background-repeat: no-repeat; position: relative; z-index: 999;}

#fighter_screen div.portrait#portrait_sin { left:20vw; margin-left:-10vw;}
#fighter_screen div.portrait#portrait_sin .picture { background-image: url(../media/flow/fighter_screen/sin.png); }
#fighter_screen div.portrait#portrait_patience { left:40vw; margin-left:-10vw;}
#fighter_screen div.portrait#portrait_patience .picture { background-image: url(../media/flow/fighter_screen/patience.png);}
#fighter_screen div.portrait#portrait_lancer { left:60vw;  margin-left:-10vw;}
#fighter_screen div.portrait#portrait_lancer .picture { background-image: url(../media/flow/fighter_screen/lancer.png);}
#fighter_screen div.portrait#portrait_pest { left:80vw;  margin-left:-10vw;}
#fighter_screen div.portrait#portrait_pest .picture { background-image: url(../media/flow/fighter_screen/pest.png);}

/* Selection mods*/

#fighter_screen.select_pest div.portrait#portrait_patience .picture,
#fighter_screen.select_pest div.portrait#portrait_lancer .picture,
#fighter_screen.select_pest div.portrait#portrait_sin .picture,
#fighter_screen.select_sin div.portrait#portrait_patience .picture,
#fighter_screen.select_sin div.portrait#portrait_lancer .picture,
#fighter_screen.select_sin div.portrait#portrait_pest .picture,
#fighter_screen.select_patience div.portrait#portrait_sin .picture,
#fighter_screen.select_patience div.portrait#portrait_lancer .picture,
#fighter_screen.select_patience div.portrait#portrait_pest .picture,
#fighter_screen.select_lancer div.portrait#portrait_sin .picture,
#fighter_screen.select_lancer div.portrait#portrait_patience .picture,
#fighter_screen.select_lancer div.portrait#portrait_pest .picture { opacity: 0.5; background-position: center 55% }