#flow { background:#efefef; width:100vw; height:100vh; position: fixed; }

#flow .screen { width:100vw; height:100vh; position: fixed; transition:opacity 250ms; }
#flow .screen.hidden { opacity: 0; }

#flow #splash_screen { background:#111; }
#flow #fighter_screen { background:#333; }
#flow #stage_screen {}
#flow #arena_screen { background:cyan; }