#flow { width:100vw; height:100vh; position: fixed; }

#flow .screen { width:100vw; height:100vh; position: fixed; transition:opacity 250ms; display: none }
#flow .screen.shown { display:block; opacity: 1 }
#flow .screen.hidden { display:block; opacity: 0; }
#flow .screen.idle { display:none; }

#flow #splash_screen { background:#111; }
#flow #fighter_screen { background:#fff; }
#flow #stage_screen {}
#flow #arena_screen { background:cyan; }