body { font-size:11px; font-family: 'input_mono_regular'; overflow:hidden; -webkit-user-select: none; }

yu { display: block; }
icon { display: block; }
wrapper { display: block; }
ln { display: block; }