#renderer { position: relative; height: 100vh;width: 100vw; -webkit-user-select: none;-webkit-app-region: drag; overflow: hidden; transition: width 250ms; background:#ccc;}
#renderer view { display: block;position: fixed;left: calc(50vw - (420px/2));top: 50vh;}
#renderer stage { display:block; position:absolute; transition:all 500ms; }
#renderer stage background { display: block;position: absolute;transition: all 150ms;width: 515px;height: 800px;background-size: contain;background-repeat: no-repeat;left: -55px;top: -250px;}
#renderer stage sprite { display: block; position:absolute; transition:all 150ms;}
#renderer stage sprite sheet { display: block;width: 150%;height: 150%;position: absolute;bottom: 35%;background-size: 600px;background-position: 0px -360px;left: -25%; }
#renderer stage sprite marker { display: none;width: 50px;height: 50px;z-index: 900;position: absolute;top: -80px;left: 50%;margin-left: -25px; background-size:50%; background-position: center center; background-repeat: no-repeat; }
#renderer stage sprite marker.active { display:block; background-image:url(../media/interface/arrow.svg); }
#renderer stage sprite shadow { display: block;width: 150%;height: 150%;position: absolute;bottom: 30%;background-size: 600px;background-position: 0px 0px;left: -25%;background-image: url(../media/fighters/effects.png);opacity: 0.5; }
#renderer stage effect { display: block; position:absolute; transition:all 150ms; }
#renderer stage effect sheet { display: block;width: 150%;height: 150%;position: absolute;bottom: 30%;background-size: 600px;background-position: 0px 0px;left: -25%;background-image: url(../media/fighters/effects.png);z-index: 200; filter:brightness(0); }

#renderer stage.dojo background { background-image: url(../media/arenas/dojo.png); }
#renderer stage.temple background { background-image: url(../media/arenas/temple.png); }
#renderer stage.garden background { background-image: url(../media/arenas/garden.png); }
#renderer stage.rooftop background { background-image: url(../media/arenas/rooftop.png); }
#renderer stage.wood background { background-image: url(../media/arenas/wood.png); }

#renderer stage effect sheet.shadow { background-position-y:0px; }
#renderer stage effect sheet.puff { background-position-y:-120px; }
#renderer stage effect sheet.explosion { background-position-y:-240px; }
#renderer stage effect sheet.shield { background-position-y:-360px; }
#renderer stage effect sheet.hit { background-position-y:-480px; }

/* Frames */

#renderer view.f0 stage sprite sheet, #renderer view.f0 stage effect sheet { background-position-x:-0px; }
#renderer view.f1 stage sprite sheet, #renderer view.f1 stage effect sheet { background-position-x:-120px; }
#renderer view.f2 stage sprite sheet, #renderer view.f2 stage effect sheet { background-position-x:-240px; }
#renderer view.f3 stage sprite sheet, #renderer view.f3 stage effect sheet { background-position-x:-360px; }
#renderer view.f4 stage sprite sheet, #renderer view.f4 stage effect sheet { background-position-x:-480px; }

/* Characters */

#renderer stage sprite sheet.lancer { background-image: url(../media/fighters/lancer.png); }
#renderer stage sprite sheet.sin { background-image: url(../media/fighters/sin.png); }
#renderer stage sprite sheet.patience { background-image: url(../media/fighters/patience.png); }
#renderer stage sprite sheet.pest { background-image: url(../media/fighters/pest.png); }
#renderer stage sprite sheet.dummy { background-image: url(../media/fighters/dummy.png); }
#renderer stage sprite sheet.goat { background-image: url(../media/fighters/goat.png); }

/* Status */

#renderer stage sprite sheet.idle          { background-position-y:calc(0 * 120px); }

#renderer stage sprite sheet.move          { background-position-y:calc(2 * -120px); }
#renderer stage sprite sheet.move.up       { background-position-y:calc(1 * -120px); }
#renderer stage sprite sheet.move.right    { background-position-y:calc(3 * -120px); }
#renderer stage sprite sheet.moving.left   { background-position-y:calc(3 * -120px); transform: scaleX(-1); }

#renderer stage sprite sheet.dash          { background-position-y:calc(5 * -120px); }
#renderer stage sprite sheet.dash.up       { background-position-y:calc(4 * -120px); }
#renderer stage sprite sheet.dash.right    { background-position-y:calc(6 * -120px); }
#renderer stage sprite sheet.dash.left     { background-position-y:calc(6 * -120px); transform: scaleX(-1); }

#renderer stage sprite sheet.attack        { background-position-y:calc(8 * -120px); }
#renderer stage sprite sheet.attack.up     { background-position-y:calc(7 * -120px); }
#renderer stage sprite sheet.attack.right  { background-position-y:calc(9 * -120px); }
#renderer stage sprite sheet.attack.left   { background-position-y:calc(9 * -120px); transform: scaleX(-1); }

#renderer stage sprite sheet.fire          { background-position-y:calc(11 * -120px); }
#renderer stage sprite sheet.fire.up       { background-position-y:calc(7 * -120px); } /* Same as Attack Up */
#renderer stage sprite sheet.fire.right    { background-position-y:calc(12 * -120px); }
#renderer stage sprite sheet.fire.left     { background-position-y:calc(12 * -120px); transform: scaleX(-1); }

#renderer stage sprite sheet.hit           { background-position-y:calc(12 * -120px); }
#renderer stage sprite sheet.dead          { background-position-y:calc(13 * -120px); }
#renderer stage sprite sheet.recovery      { background-position-y:calc(14 * -120px); }
#renderer stage sprite sheet.taunt         { background-position-y:calc(15 * -120px); }
#renderer stage sprite sheet.stasis        { background-position-y:calc(16 * -120px); }


#renderer stage sprite sheet.dead          { background-position-y:calc(13 * -120px); background-position-x:-480px !important; }

/* ZIndex*/

#renderer stage sprite.depth0 { z-index:100; }
#renderer stage sprite.depth1 { z-index:101; }
#renderer stage sprite.depth2 { z-index:102; }
#renderer stage sprite.depth3 { z-index:103; }
#renderer stage sprite.depth4 { z-index:104; }


