body { font-size:11px; font-family: 'input_mono_regular'; overflow:hidden; }

yu { display: block; }

yu.screen { background:white; width: calc(100vw - 480px); height:100vh; }

yu.screen yu.character_selection { height: 400px;width: 680px; margin:0px auto }
yu.screen yu.character { display:block; float:left; margin-top:90px; position: relative; overflow: hidden;}
yu.screen yu.character yu.frame {  background-image: url('../media/portraits/frame.png'); background-size:contain; background-repeat:no-repeat; position: absolute;}
yu.screen yu.character yu.portrait {  background-size:contain; background-repeat:no-repeat; position: absolute;}
yu.screen yu.character h2 { position: absolute;z-index: 900;font-size: 15px;text-align: center;text-transform: uppercase;bottom:50px;width:100%}
yu.screen yu.character h2 small { display: block; font-size:12px; line-height: 20px; color:#999; }
yu.screen yu.character yu.portrait, yu.screen yu.character yu.frame, yu.screen yu.character { width:170px; height:400px; }

yu.screen yu.character yu.portrait.pest { background-image: url('../media/portraits/pest.png'); }
yu.screen yu.character yu.portrait.sin { background-image: url('../media/portraits/sin.png'); }
yu.screen yu.character yu.portrait.lancer { background-image: url('../media/portraits/lancer.png'); }
yu.screen yu.character yu.portrait.patience { background-image: url('../media/portraits/patience.png'); }

yu.screen yu.arena_selection { height: 400px;width: 680px; margin:0px auto }
yu.screen yu.arena_selection list { display: block; padding:100px; }
yu.screen yu.arena_selection ln { display: block }
yu.screen yu.arena_selection ln.highlight { background:#ccc; }

yu.designer { display:block; background:#eee; width:calc(100vw - 560px); height:calc(100vh - 80px); position: fixed; top:0px; right:0px; padding:40px; font-family: 'input_mono_regular';font-size:12px; max-width: 400px; min-width: 360px}
yu.designer textarea { width:100%; height:100%; background:transparent; color:#111; line-height: 20px; max-height: calc(100% - 70px); position: relative;z-index:999; padding-left:40px; resize: none; }
yu.designer div.hint { height: calc(100vh - 80px);line-height: 20px;color: #aaa;max-height: calc(100% - 150px);overflow-y: hidden;position: absolute;top:90px;width: calc(100% - 80px); z-index:0; margin-left:10px;}
yu.designer div.hint line.highlight { background:#fff; }
yu.designer div line { display:block; line-height: 20px; white-space: pre; padding-left:30px; }
yu.designer div line .pad { color:rgba(0,0,0,0); }
yu.designer div line.trigger {  }
yu.designer div line.trigger:before { content: ">";position: absolute;left:-15px;color:black; }
yu.designer div line .line_number { display: inline-block; position: absolute; left:5px; }

yu.designer yu.controller { display: block;height: 60px;position: absolute;bottom: 0px;width: calc(100% - 80px); }
yu.designer yu.controller yu.button { background:black; color:#fff; padding:10px; display: inline-block; float:right; border-radius: 3px }
yu.designer yu.controller yu.button b { font-family: 'input_mono_medium'  }
yu.designer yu.controller yu.button i { color:#888;  }
yu.designer yu.controller yu.button:hover { background:#ccc; color:black; cursor: pointer; }

yu.designer yu.header { line-height: 30px;border-bottom: 1px solid #ccc;height:30px; margin-bottom:20px; font-size:11px; }
yu.designer yu.header span { border: 1px solid #ccc;display: inline-block;height: 29px;padding:0px 10px;border-top-left-radius: 3px; border-top-right-radius: 3px; color:#999; }
yu.designer yu.header span.active { border-bottom: 1px solid #eee; color:black; }
yu.designer yu.header span:hover { color:black; cursor: pointer }
yu.designer yu.header span.playing { text-decoration: underline; }
yu.designer yu.header t { display: inline-block; float:right; font-size:11px; color:#ccc; }

.arena { position:relative; margin:90px; }
.arena tile { display:block; width:80px; height:80px;position: absolute; font-size:10px; color:#000; text-align:center; font-family: Helvetica; }
.arena tile sprite { display: block;width: 80px;height: 87px;background-size: contain;background-repeat: no-repeat; }
.arena event { display:block; width:80px; height:80px;position: absolute; z-index:100;}

.arena tile.floor sprite { background-image:url(../media/tiles/floor/wood.1.png); }
.arena tile.floor.alt_1 sprite { background-image:url(../media/tiles/rooftop/rooftop.1.png); }
.arena tile.floor.alt_2 sprite { background-image:url(../media/tiles/floor/wood.2.png); }
.arena tile { display: block; }

.arena tile.floor.y_4 { z-index:50; }
.arena tile.floor.y_3 { z-index:60; }
.arena tile.floor.y_2 { z-index:70; }
.arena tile.floor.y_1 { z-index:80; }
.arena tile.floor.y_0 { z-index:90; }

.arena event.fighter { }
.arena event.fighter sprite { display: block;width: 110px;height: 110px;background-size: cover;background-repeat: no-repeat;left: -15px;top: -55px;position: absolute  }
.arena event.fighter sprite.attack { border:2px solid red; }
.arena event.fighter sprite.stun { border:2px solid yellow; }
.arena event.fighter sprite.move { border:2px solid green; }
.arena event.fighter text { background: red;color: white;position: relative;z-index: 900;text-align: center;width:50%;display: inline-block;left:20px;top:-50px;font-family: 'input_mono_medium';font-size:11px; }
.arena event.fighter text.user { background:white; color:red; }
.arena event.fighter.lancer sprite { background-image:url(../media/fighters/lancer/idle.png);  }
.arena event.fighter.pest sprite { background-image:url(../media/fighters/pest/idle.png);  }
.arena event.fighter.patience sprite { background-image:url(../media/fighters/patience/idle.png);  }
.arena event.fighter.sin sprite { background-image:url(../media/fighters/sin/idle.png);  }

.arena event svg { width:80px; height:80px; }

.arena event.blocker sprite { display: block;width: 80px;height: 87px;background-size: contain;background-repeat: no-repeat;background-position: center center;top:-30px;position: absolute  }
.arena event.blocker.id_1 sprite { background-image:url(../media/tiles/floor/chimney.1.png);  }


