body { font-size:11px; font-family: 'input_mono_regular'; background: black; overflow:hidden; }

yu { display: block; }

yu.screen { background:white; width: calc(100vw - 480px); height:100vh; }

yu.screen yu.character_selection { height: 400px;width: 680px; margin:0px auto }
yu.screen yu.character { display:block; float:left; margin-top:90px; position: relative; overflow: hidden;}
yu.screen yu.character yu.frame {  background-image: url('../media/portraits/frame.png'); background-size:contain; background-repeat:no-repeat; position: absolute;}
yu.screen yu.character yu.portrait {  background-size:contain; background-repeat:no-repeat; position: absolute;}
yu.screen yu.character h2 { position: absolute;z-index: 900;font-size: 15px;text-align: center;text-transform: uppercase;bottom:50px;width:100%}
yu.screen yu.character h2 small { display: block; font-size:12px; line-height: 20px; color:#999; }
yu.screen yu.character yu.portrait, yu.screen yu.character yu.frame, yu.screen yu.character { width:170px; height:400px; }

yu.screen yu.character yu.portrait.pest { background-image: url('../media/portraits/pest.png'); }
yu.screen yu.character yu.portrait.sin { background-image: url('../media/portraits/sin.png'); }
yu.screen yu.character yu.portrait.lancer { background-image: url('../media/portraits/lancer.png'); }
yu.screen yu.character yu.portrait.patience { background-image: url('../media/portraits/patience.png'); }

yu.screen yu.arena_selection { height: 400px;width: 680px; margin:0px auto }
yu.screen yu.arena_selection ln { display: block }

yu.designer { display:block; background:#eee; width:calc(100vw - 560px); height:calc(100vh - 80px); position: fixed; top:0px; right:0px; padding:40px; font-family: 'input_mono_regular';font-size:12px; max-width: 400px; min-width: 360px}
yu.designer textarea { width:100%; height:100%; background:transparent; color:#111; position: absolute; line-height: 20px; max-height: calc(100% - 135px); padding-top:20px;}
yu.designer div.hint { width:100%; height:calc(100vh - 80px); line-height: 20px; color:#aaa; max-height: calc(100% - 160px); padding-top:20px }
yu.designer div.hint line.highlight { background:#ccc; }
yu.designer div line { display:block; line-height: 20px; white-space: pre }
yu.designer div line .pad { color:rgba(0,0,0,0); }
yu.designer div line.trigger {  }
yu.designer div line.trigger:before { content: ">";position: absolute;left:15px;color:black; }

yu.battle { color:#000; padding-bottom:20px; border-bottom:1px solid #ccc;}
yu.battle b { font-family: 'input_mono_medium' }
yu.battle ln.fighter { display: inline-block; margin-right: 15px }
yu.battle ln.fighter .dmg { color:#ccc; }

yu.designer yu.controller { display: block;height: 60px;position: absolute;bottom: 0px;width: calc(100% - 80px); }
yu.designer yu.controller yu.button { background:black; color:#fff; padding:10px; display: inline-block; float:right; border-radius: 3px }
yu.designer yu.controller yu.button b { font-family: 'input_mono_medium'  }
yu.designer yu.controller yu.button i { color:#888;  }
yu.designer yu.controller yu.button:hover { background:#ccc; color:black; cursor: pointer; }

.arena { position:relative; }
.arena tile { display:block; width:80px; height:80px;position: absolute; border:1px solid #000; font-size:10px; color:#000; text-align:center; font-family: Helvetica}
.arena event { display:block; width:80px; height:80px;position: absolute; }

tile { display: block; }
tile.floor { background:white; }

event svg {stroke:black; fill:none; stroke-width:4px; width:80px; height:80px; position: absolute;}
event.fighter span { position: absolute; top:60px; width:80px; text-align: center }
event.spawn svg { stroke-width:1px; fill:none; stroke:#999; }
event.block svg { stroke:none; fill:#000; }
event.wall svg { stroke:none; fill:#000; }
event.fighter { z-index: 200 }
event.fighter svg { stroke:2px; fill:#000; }
event.fighter.acting svg { fill:white; }
event.fighter.active svg { fill:green; }
event.fighter.idle svg { fill:yellow; }
event.fighter.knocked svg { fill:pink; }
event.fighter.dead { z-index: 100 }
event.fighter.dead svg { fill:red; stroke-width:0; }
event.fighter.dead svg path { stroke:red; stroke-width:4px; }
event.fighter.dead span { display: none }
event.fighter.dead svg path { display: none }
event.attacking svg { stroke:red; }
event.attacked svg { stroke:pink; }
