body { font-size:11px; font-family: 'input_mono_regular'; overflow:hidden; background: white }

yu { display: block; }

#designer { position: fixed; left:50vw; width:50vw; background:red; height:100vh; }
#designer textarea { margin:15px; width:calc(100% - 30px); height:calc(100% - 60px); background:none; padding:15px; border-radius:3px; border:1px solid white;}

#renderer {  }
#renderer canvas { border:1px solid black; margin:15px; border-radius: 3px;}