body { font-size:11px; font-family: 'input_mono_regular'; overflow:hidden; background: white }

yu { display: block; }

#designer { position: fixed; left:50vw; width:50vw; background:#eee; height:100vh; }
#designer textarea { color:black; margin:15px; width:calc(100% - 60px); height:calc(100% - 85px); background:none; padding:15px; border-radius:3px; position: relative; z-index:900; margin-left: 30px; }
#designer .hint { color: black;margin: 15px;width: calc(100% - 60px);height: calc(100% - 85px);background: none;padding: 15px;border-radius: 3px;position: absolute;top: 0px;left: 0px;z-index: 0;white-space: pre; z-index:0; margin-left: 30px;}
#designer .hint line { display: block; position: relative; }
#designer .hint line span.number { position: absolute;left: -30px;color: #999; }
#designer .hint line span.content { opacity: 0 }
#designer .hint line span.rune { position: absolute;left: -10px; color:#ccc; }
#designer .hint line.selected { background:#ccc; }
#designer .controls  { margin-left:15px; border-top:1px solid white; padding-top:15px; -webkit-user-select: none;-webkit-app-region: drag; }
#designer .controls .button { background: white;display: inline-block;border-radius: 3px;padding: 0px 10px;margin-right: 15px;line-height: 25px; }
#designer .controls .button:hover { background:black; color:white; cursor: pointer }
#designer .controls .turn { line-height: 25px; float: right; padding:0px 15px; }
#designer .reaction { position: absolute;bottom: 70px;left: 15px;color: #999; }

#renderer { position: relative; height: 100vh;width: 50vw; -webkit-user-select: none;-webkit-app-region: drag;}
#renderer stage { display:block; border:1px solid red; position:absolute; transition:all 150ms; }
#renderer stage background { display: block;position: absolute;transition: all 150ms;background-image: url(../media/arenas/dojo.png);width: 515px;height: 800px;background-size: contain;background-repeat: no-repeat;left: -55px;top: -250px;}
#renderer stage sprite { display: block; position:absolute; transition:all 150ms;}
#renderer stage sprite sheet { display: block;width: 150%;height: 150%;position: absolute;bottom: 35%;background-size: 600px;background-position: 0px 0px;left: -25%; }

/* Characters */
#renderer stage sprite sheet.lancer { background-image: url(../media/fighters/lancer.png); }
#renderer stage sprite sheet.sin { background-image: url(../media/fighters/sin.png); }
#renderer stage sprite sheet.patience { background-image: url(../media/fighters/patience.png); }
#renderer stage sprite sheet.pest { background-image: url(../media/fighters/pest.png); }

/* Status */
#renderer stage sprite sheet.moving { background-position-y:0px; }
#renderer stage sprite sheet.moving.up { background-position-y:-120px; }
#renderer stage sprite sheet.moving.right { background-position-y:-240px; }
#renderer stage sprite sheet.moving.left { background-position-y:-240px; transform: scaleX(-1); }
#renderer stage sprite sheet.attacking { background-position-y:-600px; }
#renderer stage sprite sheet.hit { background-position-y:-480px; }
#renderer stage sprite sheet.dead { opacity:0.1; }