
body { padding:15px; }
body pre { background:#000; padding:10px; font-family: 'courier'; font-size:12px; margin-bottom:30px; color:white; }

body #collection .rune { width:25px; height:25px; display: inline-block; margin-right:5px; }

body .rune { border:2px solid red; width:100px; height:100px; display: block; margin-bottom:30px; position: relative; border-radius: 5px; overflow: hidden; }
body .rune .fragment { width:50px; background:blue; display: block; height:50px; position: absolute; top:0px; left:0px; }
body .rune .fragment.trigger { background:cyan; top:0%; left:0%; }
body .rune .fragment.event { background:yellow; top:0%; left:50%; }
body .rune .fragment.condition { background:orange; top:50%; left:0%; }
body .rune .fragment.action { background:pink; top:50%; left:50%; }

body button { display: inline-block; padding:5px 10px; border-radius:20px; margin:5px; font-family: arial; font-size:11px; font-weight: bold }
body button:hover { background:red !important; cursor: pointer; }
body button.trigger { background:cyan; }
body button.event { background:yellow; }
body button.condition { background:orange; }
body button.action { background:pink; }